@media screen and (max-width: 700px){/* quando a tela chegar no máximo de largura*/
    header .container{
        display: flex;
        flex-direction: column;/* faz com que os elementos sejão jogados
        para baixo*/
    }
    .botao{
        margin-top: 5px;
        width: 300px;
    }
}
@media screen and(min-width: 1000px){/*quando a tela tiver esse mínimo de largura*/ 
    .descricao{
        width: 50%;
    }
}